<!-- =========================
     HEADER   
============================== -->
<header class="header" id="home">

<!-- COLOR OVER IMAGE -->
<div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->
<ag-navbar></ag-navbar>	
	<!-- CONTAINER -->
	<div class="container">
		
		<!-- ONLY LOGO ON HEADER -->
		<div class="only-logo">
			<div class="navbar">
				<div class="navbar-header">
					<img src="images/logo.png" alt="">
				</div>
			</div>
		</div> <!-- /END ONLY LOGO ON HEADER -->
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				
				<!-- HEADING AND BUTTONS -->
				<div class="intro-section">
					
					<!-- WELCOM MESSAGE -->
					<h1 class="intro">All Gifted School</h1>
					<h5>Educate to the Ends of the World</h5>
					
					<!-- BUTTON -->
					<!-- BUTTON -->
					<div class="buttons" id="download-button">
						
						<a (click) = "login()" class="btn btn-default btn-lg standard-button"><i class="icon-app-download"></i>Sign Up or Login</a>
						
					</div>
					<!-- /END BUTTONS -->
					<!-- /END BUTTONS -->
					
				</div>
				<!-- /END HEADNING AND BUTTONS -->
				
			</div>
		</div>
		<!-- /END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->
<!-- =========================
     HOW IT WORKS
============================== -->
<section class="services" id="howitworks">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">How it Works</h2>
		
		<div class="colored-line">
		</div>
		<div class="section-description">
			All Gifted utilizes a three-pronged approach to educate. Our aim is to ensure a rigorous curriculum is delivered in the most effective way so that our students' potential can be realized. We also provide accreditation to ensure an excellent path for our students when they leave our school.
		</div>
		<div class="colored-line">
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->
	
	<div class="row">
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon_book_alt"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>World-class Curriculum</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 We courses are designed based on selected national syllabus that are chosen for their rigorisity to ensure our students are suitably challenged academically.
			</p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon_genius"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>State-of-the Art Technologies</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				 Patented and the latest technologies are deployed to engage our students which include gamification, artificial intelligence and concise videos so that students spend minimum time on our system yet achieve maximum benefits.
			</p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
		<!-- SINGLE SERVICE -->
		<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SERVICE ICON -->
			<div class="service-icon">
				<i class="icon_ribbon_alt"></i>
			</div>
			
			<!-- SERVICE HEADING -->
			<h3>International Accreditation</h3>
			
			<!-- SERVICE DESCRIPTION -->
			<p>
				No matter which stage of their studies they are in or which countrys' systems previous studies were done, we will be able to evaluate and provide accreditation for the previous work done. Students who complete our accredited diploma will be able to qualify for universities all over the world. 
			</p>
			
		</div>
		<!-- /END SINGLE SERVICE -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->

<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials">

<div class="color-overlay">
	
	<div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="2.5s">
		
		<!-- FEEDBACKS -->
		<div id="feedbacks" class="owl-carousel owl-theme">
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="images/clients-pic/3.jpg" alt="">
				</div>
				
				<div class="message">
					 “One looks back with appreciation to the brilliant teachers, but with gratitude to those who touched our human feelings. The curriculum is so much necessary raw material, but warmth is the vital element for the growing plant and for the soul of the child.”
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					Carl Jung
				</div>
				<!--div class="company-info">
					CEO, AbZ Network
				</div-->
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="images/clients-pic/1.jpg" alt="">
				</div>
				
				<div class="message">
					 Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					John Doe
				</div>
				<div class="company-info">
					CEO, AbZ Network
				</div>
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
			<!-- SINGLE FEEDBACK -->
			<div class="feedback">
				
				<!-- IMAGE -->
				<div class="image">
					<!-- i class=" icon_quotations"></i -->
					<img src="images/clients-pic/2.jpg" alt="">
				</div>
				
				<div class="message">
					 Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
				</div>
				
				<div class="white-line">
				</div>
				
				<!-- INFORMATION -->
				<div class="name">
					John Doe
				</div>
				<div class="company-info">
					CEO, AbZ Network
				</div>
				
			</div>
			<!-- /END SINGLE FEEDBACK -->
			
		</div>
		<!-- /END FEEDBACKS -->
		
	</div>
	<!-- /END CONTAINER -->
	
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->

<!-- =========================
     COURSES
============================== -->
<section class="screenshots grey-bg" id="courses">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Top Rated Courses</h2>
		
		<div class="colored-line">
		</div>
		<div class="section-description">
			Our most popular courses are deployed using patented, cutting-edge technologies and proven to be effective for acceleration and individualized educational experience.
		</div>
		<div class="colored-line">
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->
	
	<div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		<ag-course-detail [selectedCourse]="selectedCourse"></ag-course-detail>
		<ag-course-list (selectedEvent)="selectCourse($event)"></ag-course-list>
		
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->


<!-- =========================
     OUR PROGRAMS   
============================== -->
<section class="packages" id="ourprograms">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Our Programs</h2>
		<div class="colored-line">
		</div>
		
		<div class="section-description">
			 Our objective is to ensure each student has a chance at his gift and potential. Whether it is the student's dream to be a famous Youtuber, an Olympic medalist or a doctor, our program is designed to help them achieve that dream.<br /><br />

			 The academic programs are designed to save time and teach in accordance to the student's pace of learning. With the help of our inhouse artificial intelligence and algorithms, repetition is reduced and students spend less time learning the same things. <br /><br />

			 With the time released from working on our effective academic programs, students can participate in our total immersion programs where world-class experts are invited to personally motivate and work with our students. Students can choose to participate in as many of these immersion programs as possible.
		</div>
		
		<div class="colored-line">
		</div>
	</div>
	<!-- /END SECTION HEADER -->
	
    <div class="row">
		
		<!-- SINGLE PACKACGE -->
		<div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<div class="single-package">
				
				<h3 class="package-heading main-color">
				Pre High School Courses </h3>
				
				<div class="price">
					<div class="color-bg">
						<h2><span class="sign">$</span>500 <span class="month">/year per course</span></h2>
					</div>
				</div>
				
				<ul class="package-feature">
					<li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
					<li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
					<li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
					<li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
					<li><span class="main-color icon_check_alt2"></span>24/7 Customer Service</li>
					<li><span class="main-color icon_check_alt2"></span>Automatic Backup</li>
				</ul>
				
			</div>
		</div>
		<!-- /END SINGLE PACKACGE -->
		
		<!-- SINGLE PACKACGE -->
		<div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<div class="single-package">
				
				<h3 class="package-heading main-color">
				High School Courses </h3>
				
				<div class="price">
					<div class="color-bg">
						<h2><span class="sign">$</span>2000 <span class="month">/year per course</span></h2>
					</div>
				</div>
				
				<ul class="package-feature">
					<li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
					<li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
					<li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
					<li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
					<li><span class="main-color icon_check_alt2"></span>24/7 Customer Service</li>
					<li><span class="main-color icon_check_alt2"></span>Automatic Backup</li>
				</ul>
			</div>
		</div>
		<!-- /END SINGLE PACKACGE -->
		
		<!-- SINGLE PACKACGE -->
		<div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<div class="single-package">
				
				<h3 class="package-heading main-color">
				Total Immersion Programs </h3>
				
				<div class="price">
					<div class="color-bg">
						<h2><span class="sign">$</span>2000 <span class="month">/camp for four days</span></h2>
					</div>
				</div>
				
				<ul class="package-feature">
					<li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
					<li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
					<li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
					<li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
					<li><span class="main-color icon_check_alt2"></span>24/7 Customer Service</li>
					<li><span class="main-color icon_check_alt2"></span>Automatic Backup</li>
				</ul>
			</div>
		</div>
		<!-- /END SINGLE PACKACGE -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->
</section>
<!-- /END PRICING TABLE SECTION -->


<!-- =========================
     PEDAGOGY SECTION 
============================== -->
<section class="app-brief grey-bg" id="pedagogy">

<div class="container">
	
	<div class="row">
		
		<!-- PHONES IMAGE -->
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="phone-image">
				<img src="images/2-iphone-left.png" alt="">
			</div>
		</div>
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">Our Pedagogy</h2>
			
			<div class="colored-line-left">
			</div>
			
			<p>
				All Gifted deploys both student-centred and instructor-centred learning in our different programs. In general, our students determine the pace at which they will learn, especially when going through our online courses. It is not uncommon for our normal students to accelerate between three to five years.
			</p>
			<p>
				In our immersion programs, we seek to motivate and activate action in our students by working with world-class experts who share with our students the secrets of achieving excellence.
			</p>
			
			<!-- FEATURE LIST -->
			<ul class="feature-list">
				<li><i class="icon_lock_alt"></i> Motivation</li>
				<li><i class="icon_check_alt2"></i> Direction of Activity</li>
				<li><i class="icon_paperclip"></i> Criticism</li>
				<li><i class="icon_adjust-vert"></i> Imitation</li>
			</ul>
			
		</div>
		<!-- /END RIGHT BRIEF -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     PHILOSOPHY SECTION WITH VIDEO 
============================== -->
<section class="app-brief grey-bg" id="philosophy">

<div class="container">
	
	<div class="row">
		
		<!-- PHONES IMAGE -->
		<div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			<div class="video-container">				
				<div class="video">
					
					<!--iframe src="https://player.vimeo.com/video/243940021" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe-->
				</div>
				
			</div>

		</div>
		
		<!-- RIGHT SIDE WITH BRIEF -->
		<div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
			
			<!-- SECTION TITLE -->
			<h2 class="dark-text">Teaching Philosophy</h2>
			
			<div class="colored-line-left">
			</div>
			<p>教人 vs 教书</p>
			<div class="colored-line-left">
			</div>
			
			<p>
				教人教书: The first two Chinese characterswords mean “teach people” and the last two characters mean “teach books”. 

				To us, teaching means more than just conducting a course or covering a syllabus, it means teaching people. In everything we teach, we want to bring each student’s understanding of a subject and thinking skills to a new level. 

I wanted to ensure students gain something by coming to each class, to build upon their experiences and bring their competencies to the next level, wherever their current level might be. 

Besides just the syllabus, I wanted to ensure I imparted important life skills that most students did not even know they lack.  Skills like thinking on their feet, speaking coherently to top management, researching and working in groups. 

教书
I am not choosy with the subjects or courses I get to teach.  In fact, I ask for courses within my knowledge that nobody wants to teach.  I like to add value to the department so that everyone is happy.  As a result, I teach five very different courses: Technology and World Change, Technological Entrepreneurship, Entrepreneurial Management, Entrepreneurship and Business Creation, Mergers and Acquisitions and Technological Collaborations.  While all the courses focus on different aspects of businesses, they centre around 3 main themes: innovation, entrepreneurship and management. 

Teaching any subject in a class setting is very challenging these days, because we are constantly competing with external 'voices': Facebook, IM, mobile phones on silence mode, some even slip in ear phones, some just go to sleep.  

So if I just stand in front of the class and talk, which of course is the easiest thing to do, I'll lose all my students to these voices calling out to them. To 'get them back', I have to bring into the classrooms relevant tried and tested industry methods suitable for each course.

Most of these methods are not commonly used in universities.    For example, I included an elevator pitch session in the TE course.  We use the school's elevator every term.  We borrow the Chinese Orchestra’s gong for our gong shows (adapted from Disney) for each of the EM classes. We put our TE would-be entrepreneurs in the Dragon’s Den to pitch for funds to our dragons, SMU graduate-entrepreneurs. 

In the TWC guest seminar, we invited entrepreneurs, inventors and CEOs to tell us about their journeys.  I personally learn best in a fun and interesting environment, so I try to create the same for my students. 

教人
Through the course, there are also a set of skills that should be transferred to students. So, I introduced breakout sessions to inculcate good effective research habits and collaborative learning.  I also ‘invented’ in-class presentations, so that students have opportunities to do impromptu presentations in 10 minutes.  Class participation breeds confidence, so to encourage that, I offer lollipops to good questions asked in class.  

Last summer, I introduced a kudos points system in the online forum. These points can be exchanged for anything from iPads to Kate Spade bags on the forum. 

I believe good organization skills are very vital for survival in any line of business.  So I got students to organize the guest seminars every semester.  Student will surprise me every term as things get better and better organized.  

In our last semester, we had pop corns and balloons, ice-cream and healthy wraps.  Yum!  

I encourage my students to be bold and thick-skinned, to learn to network and communicate with high level executives, so I send them to interview CEOs in local companies and top executives in MNCs.  The students are to do video footages of not just their professional but private lives. 

It might seem like a very difficult task to do so many different things for different classes each semester.  I use a little secret: Teaching Assistants.

My TAs are not your usual 'A' students.  They are passionate, dedicated individuals who would do anything to help their juniors learn.  Each semester, I'll look for such passionate individuals who have benefited from our (TA and I) teaching enthusiasm and are ready to pay-it-forward.  For some reasons, the TAs' maturity and passion often rub off the class members.  Because of the corporate learning structure instituted, I don't have to start afresh every term.  Many of my teaching methodologies were suggestions from the TAs. 

To connect with my students technologically, I developed a web page to make my materials and research available to my current students, ex-student-entrepreneurs and industry practitioners free of charge.

I also implemented an online forum for my students to discuss their thoughts and earn class participation marks.  I can understand some students are just too shy to voice out their opinions so the forum becomes an alternative. 

I am beginning to think that teaching has to evolve from a one-way traffic we are used to.  These days, students immediately become experts in the topics I teach, answers can be easily researched, we lecturers are no longer the sole transmitter of information.  

The classroom, to me, cannot be just a place to learn a topic.  It is a place of interaction between student and teacher, student and student, student and the world.  

Subject matter?  Even Wikipedia is becoming more knowledgeable than many teachers, Youtube has more interesting ways of presenting information, and the search engine can yield even more impressive answers.  It is therefore vital for the teacher to ensure that the knowledge found in different places are presented cohesively in the classroom.  

Through the years, I changed my classroom from one that the lecturer teaches exclusively, to one where they learn from themselves, their friends and industry leaders.  

The classroom is a place people connect with a common subject. I believe people cross path for many reasons.  Each student is important to me, so I keep in contact with every student I have ever taught, as often as I can manage. 

I appreciate that students come back to consult me as if my opinion matters.  We discuss their careers, their children’s education, their in-laws problems, contractual problems and their business partnership fallouts. 

The ‘教书’(teach books) responsibility ends every semester once the deliverables are met.  The ‘教人’ (teach people) responsibility fortunately never has to end.
			</p>
			
			
		</div>
		<!-- /END RIGHT BRIEF -->
		
	</div>
	<!-- /END ROW -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     ABOUT US
============================== -->
<section class="download" id="aboutus">

<div class="color-overlay">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				
				<!-- DOWNLOAD BUTTONS AREA -->
				<div class="download-container">
					<h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">About Us</h2>
					
					<!-- BUTTONS -->
					<div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
						
						<a href="" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>
						<a href="" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>
						
					</div>
					<!-- /END BUTTONS -->
					
				</div>
				<!-- END OF DOWNLOAD BUTTONS AREA -->
				
				
				<!-- SUBSCRIPTION FORM WITH TITLE -->
				<div class="subscription-form-container">
					
					<h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Subscribe Now!</h2>
					
					<!-- =====================
					     MAILCHIMP FORM STARTS 
					     ===================== -->
					
					<form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
						
						<!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
						<h4 class="subscription-success"></h4>
						<h4 class="subscription-error"></h4>
						
						<!-- EMAIL INPUT BOX -->
						<input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
						
						<!-- SUBSCRIBE BUTTON -->
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
						
					</form>
					<!-- /END MAILCHIMP FORM STARTS -->
					
					<!-- =====================
					     LOCAL TXT FORM STARTS 
					     ===================== -->
					     
					<!-- THIS FORM IS COMMENTED TO HIDE 
					
					<form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">
						
						<h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
						<h4 class="subscription-error">Something Wrong!</h4>
						
						<input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
						
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
						
					</form>
					
					-->
					
					<!-- / LOCAL TXT SAVING FORM END -->

				</div>
                <!-- END OF SUBSCRIPTION FORM WITH TITLE -->
				
			</div> 
			<!-- END COLUMN -->
			
		</div> 
		<!-- END ROW -->
		
	</div>
	<!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->


<!-- =========================
     FOOTER 
============================== -->
<footer>

<div class="container">
	
	<div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->
		
		<a class="btn contact-button expand-form expanded"><i class="icon_mail_alt"></i></a>
		
		<!-- EXPANDED CONTACT FORM -->
		<div class="row expanded-contact-form">
			
			<div class="col-md-8 col-md-offset-2">
				
				<!-- FORM -->
				<form class="contact-form" id="contact" role="form">
					
					<!-- IF MAIL SENT SUCCESSFULLY -->
					<h4 class="success">
						<i class="icon_check"></i> Your message has been sent successfully.
					</h4>
					
					<!-- IF MAIL SENDING UNSUCCESSFULL -->
					<h4 class="error">
						<i class="icon_error-circle_alt"></i> E-mail must be valid and message must be longer than 1 character.
					</h4>
					
					<div class="col-md-6">
						<input class="form-control input-box" id="name" type="text" name="name" placeholder="Your Name">
					</div>
					
					<div class="col-md-6">
						<input class="form-control input-box" id="email" type="email" name="email" placeholder="Your Email">
					</div>
					
					<div class="col-md-12">
						<input class="form-control input-box" id="subject" type="text" name="subject" placeholder="Subject">
						<textarea class="form-control textarea-box" id="message" rows="8" placeholder="Message"></textarea>
					</div>
					
					<button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Send Message</button>
					
				</form>
				<!-- /END FORM -->
				
			</div>
			
		</div>
		<!-- /END EXPANDED CONTACT FORM -->
		
	</div>
	<!-- /END CONTACT BOX -->
	
	<!-- LOGO -->
	<img src="images/logo.png" alt="LOGO" class="responsive-img">
	
	<!-- SOCIAL ICONS -->
	<ul class="social-icons">
		<li><a href=""><i class="social_facebook_square"></i></a></li>
		<li><a href=""><i class="social_twitter_square"></i></a></li>
		<li><a href=""><i class="social_pinterest_square"></i></a></li>
		<li><a href=""><i class="social_googleplus_square"></i></a></li>
		<li><a href=""><i class="social_instagram_square"></i></a></li>
		<li><a href=""><i class="social_dribbble_square"></i></a></li>
		<li><a href=""><i class="social_flickr_square"></i></a></li>
	</ul>
	
	<!-- COPYRIGHT TEXT -->
	<p class="copyright">
		©2018 All Gifted LLC, All Rights Reserved
	</p>

</div>
<!-- /END CONTAINER -->
 
</footer>
<!-- /END FOOTER -->
