<div class="row" *ngIf="user">
	<div class="container">
	  <div class="col-md-3 col-md-offset-3">
	      <img src="{{user.image}}" onerror="this.src='../../images/avatar.png'" class="img-circle img-fluid" alt="{{user.name}} avatar" max-width="200" height="auto"> 
	  </div>
	  <div class="col-md-6" align="center">
			<h3>{{user.email}}<button class="btn btn-sm btn-default">Edit Profile</button></h3>
	   		<p>Maxile Points: <b>{{user.maxile_level}}</b></p>
	   		<p><b>{{user.game_level}} </b>Kudos</p>
	   		<p>Last Test Date: <b>{{user.last_test_date}}</b></p>
	  </div>		
	</div>
</div>
<br /><hr>