<!-- =========================
     Enrolled Classes
============================== -->
<section class="enrolled" id="enrolled">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		<!-- SECTION TITLE -->
    	<ag-house-detail [selectedHouse] = "selectedHouse"></ag-house-detail>
		<h2 class="dark-text">Enrolled classes</h2>
		
		<div class="colored-line">
		</div>
		<div class="row">
			<ag-house-list (selectedEvent) = "selectHouse($event)"></ag-house-list>
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->
<!-- =========================
     Teaching Classes
============================== -->
<section class="enrolled" id="teaching">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		<!-- SECTION TITLE -->
    	<ag-teach-detail [selectedTeach] = "selectedTeach"></ag-teach-detail>
		<h2 class="dark-text">Teaching classes</h2>
		
		<div class="colored-line">
		</div>
		<div class="row">
			<ag-teach-list (selectedEvent) = "selectTeach($event)"></ag-teach-list>
		</div>
		
	</div>
	<!-- /END SECTION HEADER -->	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->
<!-- =========================
     Enrolled Classes
============================== -->
<section class="enrolled" id="recommendedcourses">

<div class="container">
	
	<!-- SECTION HEADER -->
	<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text">Recommended Courses</h2>
		<div class="colored-line">
		</div>
		<div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			<ag-course-list (selectedEvent)="selectCourse($event)"></ag-course-list>
			<ag-course-detail [selectedCourse]="selectedCourse"></ag-course-detail>					
		</div>
		
		
	</div>
	<!-- /END SECTION HEADER -->
	
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->
