<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
	  <img src="{{user.image}}" class="rounded-circle img-fluid" alt="{{user.name}}" max-width="200" height="auto"> 
    </div>
    <div class="col-6" align="left">
		<h3>{{user.name}}<button class="btn btn-sm btn-default">Edit Profile</button></h3>
   		<p>Maxile Points: <b>{{user.maxile_level}}</b></p>
   		<p><b>{{user.game_level}} </b>Kudos</p>
   		<p>Last Test Date: <b>{{user.last_test_date}}</b></p>
    </div>
  </div>
</div>
